#root{
    margin: 0 auto;
    min-height: 100vh;
    max-height: 200vh;
    width: 1100px;
    display: grid;
    grid-template:
        "header header header " 100px
        "left   center right  " 1fr
        "footer footer footer " 30px
        /300px  1fr    100px;
}

body {
    margin: 0;
}

header {
    grid-area: header;
    outline: rgb(0, 0, 0) solid 1px;
    background-color: pink;
    text-align: center;
    /* position: fixed; */
}

main {
    grid-area: center;
    outline: rgb(0, 0, 0) solid 1px;
    overflow-y: scroll;
}

nav {
    grid-area: left;
    outline: rgb(0, 0, 0) solid 1px;
    background-color: paleturquoise;
    font-size: small;
    overflow-y: scroll;
}

aside {
    grid-area: right;
    outline: rgb(0, 0, 0) solid 1px;
    background-color: rgb(152, 247, 155);
}

footer {
    grid-area: footer;
    outline: rgb(0, 0, 0) solid 1px;
    background-color: gray;
}

img{
    object-fit: cover;
    /* display: block; */
    /* position: absolute; */
    width: 100%;
    height: 100px;
    outline: rgb(0, 0, 0) solid 1px;
  }

article {
 padding: 20px;
}

h3 {
    margin: 0 0 20px 0;
    font-size: x-large;
    font-style: oblique;
}

article ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.right {
    text-align: right;
}

.blue{
    color: blue;
    font-weight: bold;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
  }

@media screen and (max-width: 900px) {
    #root {
        grid-template:
            "header" 150px
            "center" 1fr
            "left"   minmax(30px, 1fr)
            "right"  10px
            "footer" 30px
            /1fr
        ;
        width: auto;
        min-width: 300px;
    }

}